.contenedor{
  width: 900px;
  margin: 0 auto;
}
@media screen and (max-width: 930px) {

}

/* NAV */

.navlink{
  text-decoration: none !important;
  color: #000;
}
.navlink:hover{
  text-decoration: underline;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 30px 0;
}
.links .navlink{
  margin-left: 10px;
}

/* CARD ARTICULO */

.articulo-container{
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.articulo-container img{
  width: 350px;
  height: 250px;
  object-fit: cover;
}
.articulo-inner{
  padding-left: 20px;
}
.articulo-inner h1{
  font-size: 2rem;
}
.articulo-inner .titulo{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articulo-container .titulo h1{
  font-size: 20px;
}
.articulo-inner span:hover{
  cursor: pointer;
}
.articulo-inner p{
  text-overflow: ellipsis;
  overflow: hidden;
}

/* ARTICULO PAGE */

.articulo-page{
  width: 100%;
}
.articulo-page p{
  margin: 0;
}
.articulo-page .header{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.header p:nth-child(3){
  font-weight: bold;
  font-size: 13px;
}
.header p:nth-child(2){
  font-weight: 500;
  font-size: 16px;
  color: #7d7d7dac;
}

.articulo-page img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.articulo-page .desc{
  margin-top: 40px;
}

/* LOGIN Y REGISTRO */

.auth{
  width: 100%;
  display: flex;
  justify-content: center;
}
.auth .container{
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  text-align: center;
}

.auth .container form{
  width: 100%;
}
.auth .container form input{
  width: 100%;
  margin-bottom: 10px;
}
.auth .container form button{
  width: 100%;
}

/* FORMS ADMIN*/

.form-admin{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.form-admin h1{
  width: 100%;
  text-align: center;
}
.form-admin input{
  margin-bottom: 10px;
}
.form-admin button{
  width: 100px;
  margin-top: 15px;
}
.admin-option{
  margin-top: 10px;
}
.admin-option button:nth-child(1){
  margin-right: 10px;

}


/* COMENTARIOS */

.comentarios-container{
  width: 100%;
  margin-top: 50px;
}
.comentario{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.comentario img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.comentarios-container h5{
  margin-bottom: 30px;
}
.comentarios-container form{
  width: 100%;
  margin-bottom: 50px;
}
.comentarios-container form input{
  width: 100%;
  height: 40px;
}

/* like icon */

.like-icon{
  width: 40px;
}
.like-icon:hover{
  cursor: pointer;
}

.fill-red{
  fill: red;
}
